* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
@font-face {
  font-family: avenir;
  src: url(/assets/Font/Alternative-files/AvenirNextLTPro.ttf)
      format("truetype"),
    url(/assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
}

body {
  font-family: avenir;
  // color: black;
}
