//colors
$primary-one: #323232; //BandSite-Black
$primary-two: #afafaf; //Silver
$primary-three: #ffffff; //White
$secondary-dark-one: #000000; //BandSite-DarkBlack
$secondary-two: #e1e1e1; //Mercury
$secondary-three: #fafafa; //Alabaster
//responsive
$mobileXS-min-width: 0px; //320 Mobile XS -
$mobileXS-max-width: 321px;
$mobileS-min-width: 321px; // 460 Mobile S
$mobileS-max-width: 461px;
$mobile-min-width: 461px; // 767 Mobile Reg
$mobile-max-width: 767px;
$tabletS-min-width: 768px; //768 Tablet S -
$tabletS-max-width: 1113px;
$tablet-min-width: 1114px; //1279 Tablet Reg
$tablet-max-width: 1279px;
$desktop-min-width: 1280px; //1280 Desktop - view at 24" at 100%
$desktop-max-width: 1299px;
$desktopL-min-width: 1300px; //1300> Desktop without inspect
