* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/alternative-files/AvenirNextLTPro.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
body {
  font-family: "Avenir";
}

/*THIS IS THE MIXINS FILE FOR NAVIGATION STYLE:*/
.nav {
  background-color: #323232;
  padding-top: 1rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav {
    padding-top: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav {
    padding-top: 1.5rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav {
    padding-top: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}
@media (min-width: 1300px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}
.nav__header {
  text-align: left;
  font-size: 2.25rem;
  line-height: 4.25rem;
  font-weight: normal;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: 0.3s ease;
}
.nav__header:hover {
  transform: scale(1.2);
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__header {
    text-align: center;
    width: default;
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__header {
    text-align: center;
    width: default;
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__header {
    text-align: center;
    width: default;
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__header {
    width: 26%;
    padding-left: 6rem;
    padding-right: 4rem;
    width: fit-content;
    padding-left: 3rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__header {
    width: 26%;
    padding-left: 6rem;
    padding-right: 4rem;
    width: fit-content;
    padding-left: 3.5rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__header {
    width: 26%;
    padding-left: 6rem;
    padding-right: 4rem;
    width: fit-content;
    padding-right: 3rem;
  }
}
@media (min-width: 1300px) {
  .nav__header {
    width: 26%;
    padding-left: 6rem;
    padding-right: 4rem;
    width: fit-content;
    padding-right: 3rem;
  }
}
.nav__header__link {
  text-decoration: none;
  color: #e1e1e1;
}
.nav__header__link:hover {
  color: #ffffff;
}
.nav__menu {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}

.nav__menu__list__item {
  display: inline-flex;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500;
    font-size: 1.1rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500;
    width: fit-content;
    padding: 0rem 3rem;
    line-height: 2rem;
    padding: 0rem 1.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500;
    width: fit-content;
    padding: 0rem 3rem;
    line-height: 2rem;
    padding: 0rem 1.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500;
    width: fit-content;
    padding: 0rem 3rem;
    line-height: 2rem;
    padding: 0rem 1.5rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500;
    width: fit-content;
    padding: 0rem 3rem;
    line-height: 2rem;
    padding: 0rem 1.5rem;
  }
}
.nav__menu__list__item__link-style {
  text-decoration: none;
  color: #e1e1e1;
  padding-bottom: 2rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
.nav__menu__list__item__link-style:hover {
  color: #ffffff;
}
.nav__menu__list__item--active-page {
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
.nav__menu__list__item:hover {
  text-decoration: 0.25rem underline #ffffff;
  text-underline-offset: 2.688rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    text-underline-offset: unset;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    text-underline-offset: unset;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    text-underline-offset: unset;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}

.nav__menu__list__item__link-style {
  text-decoration: none;
  color: #e1e1e1;
  padding-bottom: 2rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
.nav__menu__list__item__link-style:hover {
  color: #ffffff;
}

.nav__menu__list__item--active-page {
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.45rem;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  height: 50rem;
  width: 100vw;
  padding: 3rem 4rem;
  padding-bottom: 2rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer {
    padding: 2rem 1rem;
    padding-bottom: 1rem;
    height: 46.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .footer {
    padding: 2rem 2rem;
    padding-bottom: 1rem;
    height: 42rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .footer {
    padding: 2rem 1.5rem;
    padding-bottom: 1rem;
    height: 43rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer {
    padding: 4rem 2rem;
    height: 55vh;
    overflow-y: hidden;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer {
    padding: 4rem 4rem;
    padding-bottom: 2rem;
    height: 69vh;
    overflow-y: hidden;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer {
    padding: 4rem 4rem;
    padding-bottom: 2rem;
    height: 69vh;
    overflow-y: hidden;
  }
}
@media (min-width: 1300px) {
  .footer {
    padding: 4rem 6rem;
    padding-bottom: 2rem;
    height: 62.5vh;
    overflow-y: hidden;
  }
}
.footer--group1 {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer--group1 {
    display: block;
    width: 15rem;
    width: 14rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .footer--group1 {
    display: block;
    width: 15rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .footer--group1 {
    display: block;
    width: 15rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer--group1 {
    width: 25.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer--group1 {
    width: 36rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer--group1 {
    width: 36rem;
  }
}
@media (min-width: 1300px) {
  .footer--group1 {
    width: 37rem;
  }
}
.footer--heading {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 600;
  width: 14rem;
  margin: 0.8rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer--heading {
    margin-top: 0.3rem;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer--heading {
    font-size: 2.7rem;
    line-height: 2.8rem;
    width: 16rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer--heading {
    font-size: 3.4rem;
    line-height: 3.4rem;
    width: 20rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer--heading {
    font-size: 3.4rem;
    line-height: 3.4rem;
    width: 20rem;
  }
}
@media (min-width: 1300px) {
  .footer--heading {
    font-size: 3.4rem;
    line-height: 3.4rem;
    width: 20rem;
  }
}
.footer--socmed {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  margin: 0.8rem 0rem;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer--socmed {
    margin-top: 0.3rem;
    margin-bottom: 0rem;
    width: 8rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer--socmed {
    z-index: 1;
    width: 12rem;
    width: 8rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer--socmed {
    z-index: 1;
    width: 12rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer--socmed {
    z-index: 1;
    width: 12rem;
  }
}
@media (min-width: 1300px) {
  .footer--socmed {
    z-index: 1;
    width: 12rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer--group2 {
    display: flex;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer--group2 {
    display: flex;
    margin: 0.9rem 0rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer--group2 {
    display: flex;
    margin: 0.9rem 0rem;
  }
}
@media (min-width: 1300px) {
  .footer--group2 {
    display: flex;
    margin: 0.9rem 0rem;
  }
}

.soc-med--instagram {
  background-image: url(../assets/icons/SVG/Icon-instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2.1rem;
  width: 2.1rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .soc-med--instagram {
    height: 1.7rem;
    width: 1.7rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .soc-med--instagram {
    height: 1.7rem;
    width: 1.7rem;
  }
}

.soc-med--facebook {
  background-image: url(../assets/icons/SVG/Icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2.1rem;
  width: 1rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .soc-med--facebook {
    height: 1.7rem;
    width: 0.7rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .soc-med--facebook {
    height: 1.7rem;
    width: 0.7rem;
  }
}

.soc-med--twitter {
  background-image: url(../assets/icons/SVG/Icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2rem;
  width: 2.5rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .soc-med--twitter {
    height: 1.7rem;
    width: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .soc-med--twitter {
    height: 1.7rem;
    width: 2rem;
  }
}

.contact {
  font-size: 0.9rem;
  line-height: 1.3rem;
  width: 20rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .contact {
    font-size: 0.9rem;
    width: 20rem;
    margin: 1rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .contact {
    font-size: 1rem;
    width: 100vw;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .contact {
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 25rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .contact {
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 25rem;
  }
}
@media (min-width: 1300px) {
  .contact {
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 25rem;
  }
}
.contact__name {
  font-weight: 600;
  margin: 0.5rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .contact__name {
    margin: 0.7rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .contact__name {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .contact__name {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .contact__name {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1300px) {
  .contact__name {
    margin: 2rem 0rem;
  }
}
.contact__location {
  margin: 0.5rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .contact__location {
    margin: 0.9rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .contact__location {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .contact__location {
    margin: 2rem 0rem;
    margin: 2.5rem 0rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .contact__location {
    margin: 2rem 0rem;
    margin: 2.5rem 0rem;
  }
}
@media (min-width: 1300px) {
  .contact__location {
    margin: 2rem 0rem;
    margin: 2.5rem 0rem;
  }
}
.contact__email {
  margin: 0.5rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .contact__email {
    margin: 0.9rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .contact__email {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .contact__email {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .contact__email {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1300px) {
  .contact__email {
    margin: 2rem 0rem;
  }
}

.email-link {
  text-decoration: none;
  color: #ffffff;
}

.footer-logo {
  margin: 0.8rem 0rem;
  margin-top: 2rem;
  font-size: 2.2rem;
  width: 85vw;
  position: relative;
  bottom: 20.188rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer-logo {
    position: unset;
    width: 12rem;
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
    margin-top: 3rem;
    margin-top: 2rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .footer-logo {
    position: unset;
    width: 12rem;
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
    margin-top: 3rem;
    font-size: 2.3rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .footer-logo {
    position: unset;
    width: 12rem;
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
    margin-top: 3rem;
    font-size: 2.3rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer-logo {
    font-size: 2.2rem;
    text-align: right;
    width: 88vw;
    bottom: 20rem;
    font-size: 1.8rem;
    width: 91vw;
    bottom: 19.313rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer-logo {
    font-size: 2.2rem;
    text-align: right;
    width: 88vw;
    bottom: 20rem;
    bottom: 25rem;
    width: 89vw;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer-logo {
    font-size: 2.2rem;
    text-align: right;
    width: 88vw;
    bottom: 20rem;
    bottom: 25rem;
    width: 89vw;
  }
}
@media (min-width: 1300px) {
  .footer-logo {
    font-size: 2.2rem;
    text-align: right;
    width: 88vw;
    bottom: 20rem;
    bottom: 25rem;
  }
}

.footer-copyright {
  margin: 0.5rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer-copyright {
    font-size: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .footer-copyright {
    font-size: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer-copyright {
    font-size: 0.9rem;
    position: relative;
    bottom: 4.125rem;
    bottom: 3.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer-copyright {
    font-size: 0.9rem;
    position: relative;
    bottom: 4.125rem;
    font-size: 1.3rem;
    bottom: 3rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer-copyright {
    font-size: 0.9rem;
    position: relative;
    bottom: 4.125rem;
    font-size: 1.3rem;
    bottom: 3rem;
  }
}
@media (min-width: 1300px) {
  .footer-copyright {
    font-size: 0.9rem;
    position: relative;
    bottom: 4.125rem;
    font-size: 1.3rem;
    bottom: 3rem;
  }
}

.hero-img {
  background-image: url(../assets/images/hero-bio.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero-img--overlay {
  background-blend-mode: multiply;
  background-color: rgba(50, 50, 50, 0.5);
}
@media (min-width: 0px) and (max-width: 321px) {
  .hero-img {
    height: 10rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .hero-img {
    height: 20rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .hero-img {
    height: 21.375rem;
    margin: auto;
    padding: 16rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .hero-img {
    height: 30rem;
    width: 100vw;
  }
}
.hero-img__heading {
  margin: auto;
  width: 100vw;
  color: #ffffff;
  font-size: 5.375rem;
  line-height: 5.375rem;
  font-weight: 900;
  display: flex;
  position: absolute;
  font-weight: 600;
  top: 50%;
}
@media (min-width: 0px) and (max-width: 321px) {
  .hero-img__heading {
    font-size: 1.5rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 45%;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .hero-img__heading {
    font-size: 2.25rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 45%;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .hero-img__heading {
    font-size: 3.2rem;
    line-height: 3.2rem;
    left: 1.5rem;
    top: 48%;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .hero-img__heading {
    font-size: 4.5rem;
    left: 3.5rem;
    top: 44%;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .hero-img__heading {
    font-size: 5.5rem;
    left: 3.5rem;
    top: 48%;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .hero-img__heading {
    font-size: 5.5rem;
    line-height: 5.5rem;
    left: 6rem;
    top: 45%;
  }
}
@media (min-width: 1300px) {
  .hero-img__heading {
    font-size: 5.5rem;
    line-height: 5.5rem;
    left: 6rem;
    top: 45%;
  }
}

.about--heading {
  padding-top: 2.3rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--heading {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .about--heading {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--heading {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .about--heading {
    padding-top: 5.3rem;
    padding-bottom: 2.5rem;
    padding-left: 3.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .about--heading {
    padding-top: 5.3rem;
    padding-bottom: 2.5rem;
    padding-left: 3.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .about--heading {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    font-size: 3.5rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1300px) {
  .about--heading {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 6rem;
    font-size: 3.5rem;
    line-height: 3.25rem;
  }
}
.about--img {
  background-image: url(../assets/Images/band.jpg);
  height: 15rem;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--img {
    height: 10rem;
    width: 90vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .about--img {
    height: 15rem;
    width: 90vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--img {
    height: 25rem;
    width: 95vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .about--img {
    height: 25.5rem;
    width: 70vw;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .about--img {
    height: 29.5rem;
    width: 78vw;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .about--img {
    height: 43rem;
    width: 72vw;
  }
}
@media (min-width: 1300px) {
  .about--img {
    height: 43rem;
    width: 75vw;
  }
}
.about--caption {
  font-size: 1.313rem;
  line-height: 1.813rem;
  font-weight: 700;
  color: #323232;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--caption {
    width: 100vw;
    padding: 1rem 1rem 0rem 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .about--caption {
    width: 100vw;
    padding: 2.2rem 2rem 0rem 2rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--caption {
    width: 100vw;
    padding: 2.2rem 2rem 0rem 2rem;
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .about--caption {
    width: 100vw;
    padding: 2.5rem 6.6rem 0rem 6.6rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .about--caption {
    width: 100vw;
    padding: 2.5rem 8rem 0rem 8rem;
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .about--caption {
    width: 100vw;
    padding: 2.5rem 11rem 0rem 11rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 1300px) {
  .about--caption {
    width: 100vw;
    padding: 3.5rem 14.7rem 0rem 14rem;
    font-size: 2.2rem;
    line-height: 3rem;
  }
}
.about--ref {
  padding-top: 0.5rem;
  color: #323232;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--ref {
    padding: 0rem 1rem;
    font-size: 0.9rem;
    line-height: 2rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .about--ref {
    padding: 0rem 2rem;
    font-size: 1.2rem;
    line-height: 3rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--ref {
    padding: 0rem 2rem;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .about--ref {
    padding: 0rem 6.6rem;
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: 600;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .about--ref {
    padding: 0rem 8rem;
    font-size: 1.5rem;
    line-height: 5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .about--ref {
    padding: 0rem 11rem;
    font-size: 1.5rem;
    line-height: 5rem;
  }
}
@media (min-width: 1300px) {
  .about--ref {
    padding-top: 1.7rem;
    padding-left: 14rem;
    font-size: 1.43rem;
    line-height: 1.813rem;
  }
}

.article--heading {
  padding: 5rem 20rem 3rem 20rem;
  font-size: 2.3rem;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article--heading {
    padding: 2rem 0rem 2rem 1rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .article--heading {
    padding: 2rem 0rem 3rem 2rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article--heading {
    padding-left: 2rem;
    padding-right: 0rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .article--heading {
    padding-left: 7rem;
    padding-top: 3.5rem;
    font-size: 2.2rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .article--heading {
    padding-left: 8rem;
    padding-top: 3.5rem;
    font-size: 2.2rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .article--heading {
    padding-left: 11rem;
  }
}
@media (min-width: 1300px) {
  .article--heading {
    padding-left: 14rem;
  }
}

.article-description {
  font-size: 1.281rem;
  font-weight: 400;
  color: #000000;
  line-height: 1.875rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article-description {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .article-description {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article-description {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .article-description {
    display: flex;
    flex: 1;
    font-size: 1.2rem;
    padding: 0rem 7rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .article-description {
    display: flex;
    flex: 1;
    font-size: 1.4rem;
    padding: 0rem 8rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .article-description {
    display: flex;
    flex: 1;
    padding: 0rem 11rem;
  }
}
@media (min-width: 1300px) {
  .article-description {
    display: flex;
    flex: 1;
    padding: 0rem 14rem;
  }
}
.article-description--left {
  margin-right: 1rem;
  overflow: hidden;
  height: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article-description--left {
    margin-right: auto;
    padding: 0rem 1rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .article-description--left {
    margin-right: 0rem;
    padding: 0rem 2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article-description--left {
    margin-right: 0rem;
    padding: 0rem 1.2rem;
  }
}
.article-description--right {
  margin-left: 1rem;
  overflow: hidden;
  height: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article-description--right {
    padding: 0rem 1rem;
    padding-top: 1.5rem;
    margin-left: 0rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .article-description--right {
    padding: 0rem 2rem;
    padding-top: 2rem;
    margin-left: 0rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article-description--right {
    padding: 0rem 1.2rem;
    padding-top: 2rem;
    margin-left: 0rem;
  }
}

.gallery {
  margin-top: 3rem;
  background: #fafafa;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery {
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery {
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery {
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery {
    padding: 0rem 1rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery {
    padding: 0rem 1rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery {
    padding: 0rem 1rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1300px) {
  .gallery {
    padding: 0rem 1rem;
    padding-bottom: 2rem;
  }
}

.gallery-heading {
  padding-top: 2.3rem;
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 800;
  color: #323232;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-heading {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-heading {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-heading {
    font-size: 2.2rem;
    line-height: 2.3rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-heading {
    padding-top: 5rem;
    padding-bottom: 2.1rem;
    padding-left: 1.5rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-heading {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    padding-left: 2.5rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-heading {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    padding-left: 3.5rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1300px) {
  .gallery-heading {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    padding-left: 6rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1300px) {
  .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.gallery-img--1 {
  background-image: url(../assets/Images/Photo-gallery-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--1 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--1 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--1 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--1 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--1 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--1 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--1 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14.5rem;
  }
}
.gallery-img--1:hover {
  filter: grayscale(0%);
}
.gallery-img--2 {
  background-image: url(../assets/Images/Photo-gallery-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--2 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--2 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--2 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--2 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--2 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--2 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--2 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14.5rem;
  }
}
.gallery-img--2:hover {
  filter: grayscale(0%);
}
.gallery-img--3 {
  background-image: url(../assets/Images/Photo-gallery-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--3 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--3 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--3 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--3 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--3 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--3 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--3 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14.5rem;
  }
}
.gallery-img--3:hover {
  filter: grayscale(0%);
}
.gallery-img--4 {
  background-image: url(../assets/Images/Photo-gallery-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--4 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--4 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--4 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--4 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--4 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--4 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--4 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14.5rem;
  }
}
.gallery-img--4:hover {
  filter: grayscale(0%);
}
.gallery-img--5 {
  background-image: url(../assets/Images/Photo-gallery-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--5 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--5 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--5 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--5 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--5 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--5 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--5 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14.5rem;
  }
}
.gallery-img--5:hover {
  filter: grayscale(0%);
}
.gallery-img--6 {
  background-image: url(../assets/Images/Photo-gallery-6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--6 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--6 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--6 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--6 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--6 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--6 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--6 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14.5rem;
  }
}
.gallery-img--6:hover {
  filter: grayscale(0%);
}
.gallery-img--7 {
  background-image: url(../assets/Images/Photo-gallery-7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--7 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--7 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--7 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--7 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--7 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--7 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--7 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14.5rem;
  }
}
.gallery-img--7:hover {
  filter: grayscale(0%);
}
.gallery-img--8 {
  background-image: url(../assets/Images/Photo-gallery-8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--8 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--8 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--8 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--8 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--8 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--8 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--8 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14.5rem;
  }
}
.gallery-img--8:hover {
  filter: grayscale(0%);
}
.gallery-img--9 {
  background-image: url(../assets/Images/Photo-gallery-9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--9 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--9 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--9 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--9 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--9 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--9 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--9 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14.5rem;
  }
}
.gallery-img--9:hover {
  filter: grayscale(0%);
}

.comments {
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1.7rem;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .comments {
    padding-left: 2.5rem;
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    padding: 0rem 3.5rem;
    padding-top: 0.2rem;
  }
}
.comments__heading {
  color: #323232;
  font-size: 2.2rem;
  line-height: 2.3rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .comments__heading {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .comments__heading {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media (min-width: 1280px) {
  .comments__heading {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
.comments__form__inputing-grp {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1113px) {
  .comments__form__inputing-grp {
    border-bottom: 2px solid #e1e1e1;
    margin-right: 2rem;
    margin-left: 4rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .comments__form__inputing-grp {
    border-bottom: 2px solid #e1e1e1;
    margin-right: 1rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
    width: 100%;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .comments__form__inputing-grp {
    border-bottom: 2px solid #e1e1e1;
    width: 65%;
    margin-left: 13rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1300px) {
  .comments__form__inputing-grp {
    border-bottom: 2px solid #e1e1e1;
    width: 70%;
    margin-left: 11rem;
    padding-bottom: 2rem;
  }
}
.comments__img {
  width: 3.5rem;
  height: 3.438rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 3.25rem;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .comments__img {
    width: 4.5rem;
    height: 4.5rem;
    top: 5.875rem;
  }
}
@media (min-width: 1280px) {
  .comments__img {
    width: 4.5rem;
    height: 4.5rem;
    top: 5.875rem;
  }
}

#comments__form {
  border-bottom: 2px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  padding-top: 1.7rem;
  height: 100%;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1113px) {
  #comments__form {
    padding: 1.7rem 0rem 0rem 0rem;
    border: none;
    padding-top: 4rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  #comments__form {
    padding: 1.7rem 5rem 0rem 5rem;
    border: none;
    padding-top: 4rem;
  }
}
@media (min-width: 1280px) {
  #comments__form {
    justify-content: center;
    border: none;
    padding-top: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .comment-post {
    padding: 0rem 2rem 1.5rem 4rem;
  }
}
@media (min-width: 1280px) {
  .comment-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 2.5rem;
  }
}

.inputs {
  width: 100%;
  margin-left: 5rem;
  height: 100%;
  padding-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 1113px) {
  .inputs {
    position: relative;
    margin-left: 5.6rem;
    height: 26rem;
    width: 85%;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .inputs {
    position: relative;
    margin-left: 5.6rem;
    height: 26rem;
    width: 100%;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .inputs {
    position: relative;
    margin-left: 5.6rem;
    height: 26rem;
    width: 88%;
  }
}
@media (min-width: 1300px) {
  .inputs {
    position: relative;
    margin-left: 5.6rem;
    height: 26rem;
    width: 92%;
  }
}
.inputs__name-label {
  font-weight: bold;
  color: #afafaf;
}
.inputs__comment-label {
  padding-top: 2rem;
  font-weight: bold;
  color: #afafaf;
}

#name {
  width: 88%;
  height: 3.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  font-family: "Avenir";
  border: 2px solid #e1e1e1;
  font-size: 1.3rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  #name {
    width: 70%;
    font-size: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  #name {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  #name {
    width: 99%;
    height: 4.1rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  #name {
    width: 90.5%;
    height: 4.1rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  #name {
    width: 100%;
    height: 4.1rem;
  }
}
@media (min-width: 1300px) {
  #name {
    width: 97%;
    height: 4.3rem;
  }
}
#name::placeholder {
  color: #000000;
  width: 100%;
}
@media (min-width: 0px) and (max-width: 321px) {
  #name::placeholder {
    font-size: 0.9rem;
  }
}

#comment {
  width: 88%;
  height: 8.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  font-family: "Avenir";
  border: 2px solid #e1e1e1;
  font-size: 1.3rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  #comment {
    width: 70%;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  #comment {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  #comment {
    width: 99%;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  #comment {
    width: 90.5%;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  #comment {
    width: 100%;
  }
}
@media (min-width: 1300px) {
  #comment {
    width: 97%;
    height: 9rem;
  }
}
#comment::placeholder {
  color: #000000;
  position: absolute;
  top: 0rem;
  width: 100%;
}
@media (min-width: 0px) and (max-width: 321px) {
  #comment::placeholder {
    font-size: 0.9rem;
  }
}

.alert-msg {
  margin-top: 0.3rem;
  margin-left: 1rem;
  color: #d22d2d;
}

#comment-btn {
  width: 88%;
  height: 3.5rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #323232;
}
@media (min-width: 0px) and (max-width: 321px) {
  #comment-btn {
    width: 70%;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  #comment-btn {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  #comment-btn {
    width: 15rem;
    position: absolute;
    bottom: 1rem;
    right: 0.125rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  #comment-btn {
    width: 15rem;
    position: absolute;
    bottom: 1rem;
    right: 5.75rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  #comment-btn {
    width: 15rem;
    position: absolute;
    bottom: 1rem;
    right: 0rem;
  }
}
@media (min-width: 1300px) {
  #comment-btn {
    width: 15rem;
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
  }
}
#comment-btn:hover {
  background-color: #000000;
}

.comments-post {
  height: 15.5rem;
  width: 100%;
  margin: 1rem 0rem;
  position: relative;
  border-bottom: 2px solid #e1e1e1;
}
@media (min-width: 0px) and (max-width: 321px) {
  .comments-post {
    height: 17rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .comments-post {
    padding-top: 1.5rem;
    height: 17.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .comments-post {
    padding-top: 1.5rem;
    width: 90%;
    height: 15rem;
    margin-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .comments-post {
    justify-content: center;
    padding-top: 2.1rem;
    width: 70%;
    height: 16rem;
    margin-left: 11rem;
    margin-right: 0rem;
  }
}
.comments-post__grp1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 1rem;
  margin-left: 5rem;
  font-size: 1.2rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .comments-post__grp1 {
    font-size: 0.8rem;
    padding-right: 4.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .comments-post__grp1 {
    font-size: 0.8rem;
    padding-right: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .comments-post__grp1 {
    padding-right: 5.5rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
    margin-left: 5.6rem;
  }
}
@media (min-width: 1280px) {
  .comments-post__grp1 {
    padding-right: 6rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
    margin-left: 5.6rem;
  }
}
.comments-post__grp1--name {
  font-weight: bold;
}
.comments-post__grp1--date {
  width: 10.5rem;
  color: #e1e1e1;
}
@media (min-width: 0px) and (max-width: 321px) {
  .comments-post__grp1--date {
    font-size: 0.8rem;
    width: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .comments-post__grp1--date {
    width: 7.5rem;
  }
}
@media (min-width: 1280px) {
  .comments-post__grp1--date {
    width: 7.5rem;
  }
}
.comments-post__grp2 {
  margin-top: 1rem;
  margin-left: 5.6rem;
  width: 87.5%;
  height: 70%;
  font-size: 1.2rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .comments-post__grp2 {
    font-size: 1rem;
    margin-left: 5rem;
    width: 70.5%;
    height: 80%;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .comments-post__grp2 {
    width: 73%;
    height: 78%;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .comments-post__grp2 {
    width: 84%;
    height: 75%;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .comments-post__grp2 {
    width: 92%;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
  }
}
@media (min-width: 1280px) {
  .comments-post__grp2 {
    width: 88.5%;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
  }
}
.comments-post__box-img {
  width: 3.5rem;
  height: 3.438rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0.063rem;
  background-color: #e1e1e1;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .comments-post__box-img {
    width: 4.5rem;
    height: 4.5rem;
    top: 1.813rem;
  }
}
@media (min-width: 1280px) {
  .comments-post__box-img {
    width: 4.5rem;
    height: 4.5rem;
    top: 1.813rem;
  }
}

.delete-btn {
  position: relative;
  bottom: 3rem;
  border-radius: 0.3rem;
  font-size: 0.6;
  font-weight: 400;
  width: 4rem;
  color: #ffffff;
  background-color: #323232;
}/*# sourceMappingURL=bio.css.map */