@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./partials/mixins" as *;
// NAVIGATION SECTION
.nav {
  background-color: $primary-one;
  padding-top: 1rem;
  @include mobileXS {
    padding-top: 1.5rem;
  }
  @include mobileS {
    padding-top: 1.5rem;
  }
  @include mobile {
    padding-top: 1.5rem;
  }
  @include tabletS {
    @include navigation-large-screen-style;
  }
  @include tablet {
    @include navigation-large-screen-style;
  }
  @include desktop {
    @include navigation-large-screen-style;
  }
  @include desktopL {
    @include navigation-large-screen-style;
  }
}
//Navigation's BandSite LOGO and its link
.nav__header {
  text-align: left;
  font-size: 2.25rem;
  line-height: 4.25rem;
  font-style: "Avenir-Bold";
  font-weight: normal; /*bold 700*/
  padding-left: 1rem;
  padding-right: 1rem;
  // border: 1px solid yellow;
  @include mobileXS {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.25rem;
    width: default;
  }
  @include mobileS {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.25rem;
    width: default;
  }
  @include mobile {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2rem;
    width: default;
  }
  @include tabletS {
    padding-left: 3rem;
    padding-right: 2rem;
    width: fit-content;
    // border: 1px solid yellow;
  }
  @include tablet {
    padding-left: 3.5rem;
    padding-right: 2rem;
    width: fit-content;
    // border: 1px solid yellow;
  }
  @include desktop {
    width: 26%;
    padding-left: 6rem;
    padding-right: 4rem;
    width: fit-content;
    // border: 1px solid orange;
  }
  @include desktopL {
    width: 26%;
    padding-left: 6rem;
    padding-right: 4rem;
    width: fit-content;
    // border: 1px solid orange;
  }
}
.nav__header__link {
  text-decoration: none;
  color: $secondary-two;
}

// Navigation's MENU
.nav__menu {
  text-align: center;
  @include tabletS {
    @include navigation-large-screen-menu-style;
  }
  @include tablet {
    @include navigation-large-screen-menu-style;
  }
  @include desktop {
    @include navigation-large-screen-menu-style;
  }
  @include desktopL {
    @include navigation-large-screen-menu-style;
  }
}
.nav__menu__list__item {
  // border: 1px solid yellow;
  display: inline-flex;
  @include mobileXS {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500; /*600*/
  }
  @include mobileS {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500; /*600*/
  }
  @include mobile {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500; /*600*/
  }
  @include tabletS {
    width: fit-content;
    padding: 0rem 1.5rem; //
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
  @include tablet {
    width: fit-content;
    padding: 0rem 3rem; //
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
  @include desktop {
    width: fit-content;
    padding: 0rem 3rem; //
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
  @include desktopL {
    width: fit-content;
    padding: 0rem 3rem; //
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
}
//Menu list's style:
.nav__menu__list__item__link-style {
  text-decoration: none; /*remove underline inside link*/
  color: $secondary-two;
  padding-bottom: 2rem;
  @include mobileXS {
    padding-bottom: 0.5rem;
  }
  @include mobileS {
    padding-bottom: 0.5rem;
  }
  @include mobile {
    padding-bottom: 0.5rem;
  }
}

.nav__menu__list__item--active-page {
  font-weight: bold;
  @include mobileXS {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
  }
  @include mobileS {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
  }
  @include mobile {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
  }
  @include tabletS {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 0.25rem underline $primary-three;
    text-underline-offset: 2.4rem; //2.4rem
    // border: 1px solid red;
  }
  @include tablet {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 0.25rem underline $primary-three;
    text-underline-offset: 2.4rem; //2.4rem
    // border: 1px solid red;
  }
  @include desktop {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 0.25rem underline $primary-three;
    text-underline-offset: 2.4rem;
  }
  @include desktopL {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 0.25rem underline $primary-three;
    text-underline-offset: 2.4rem;
  }
}
.nav__menu__list__item:hover {
  text-decoration: 0.25rem underline $primary-three;
  text-underline-offset: 2.688rem;
  @include mobileXS {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
    text-decoration: none;
    text-underline-offset: unset;
  }
  @include mobileS {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
    text-decoration: none;
    text-underline-offset: unset;
  }
  @include mobile {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
    text-decoration: none;
    text-underline-offset: unset;
  }
  @include tabletS {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 0.25rem underline $primary-three;
    text-underline-offset: 2.4rem;
  }
  @include tablet {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 0.25rem underline $primary-three;
    text-underline-offset: 2.4rem;
  }
  @include desktop {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 0.25rem underline $primary-three;
    text-underline-offset: 2.4rem;
  }
  @include desktopL {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 0.25rem underline $primary-three;
    text-underline-offset: 2.4rem;
  }
}

// HERO SECTION
.hero-img {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  // border: 1px solid yellow;
  @include mobileXS {
    height: 10rem;
  }
  @include mobileS {
    height: 20rem;
  }
  @include mobile {
    height: 21.375rem;
    margin: auto;
    padding: 16rem;
  }
  @include tabletS {
    height: 30rem;
    width: 100vw;
  }
}
.hero-img--overlay {
  background-color: $primary-one;
  opacity: 95%;
}
.hero-img__heading {
  // border: 1px solid yellow;
  margin: auto;
  width: 100vw;
  color: $primary-three;
  font-size: 5.375rem;
  line-height: 5.375rem;
  font-style: "Avenir-Bold";
  font-weight: bold;
  display: flex;
  position: absolute;
  top: 50%;
  @include mobileXS {
    border: 1px solid orange;
    font-size: 1.5rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 45%;
  }
  @include mobileS {
    border: 1px solid orange;
    font-size: 2.25rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 45%;
  }
  @include mobile {
    border: 1px solid orange;
    font-size: 3.2rem;
    line-height: 3.2rem;
    left: 1.5rem;
    top: 48%;
  }
  @include tabletS {
    font-size: 4rem;
    left: 3.5rem;
    top: 44%;
  }
  @include tablet {
    left: 3.5rem;
    top: 48%;
  }
  @include desktop {
    font-size: 5.5rem;
    line-height: 5.5rem;
    left: 6rem;
    top: 45%;
  }
  @include desktopL {
    font-size: 5.5rem;
    line-height: 5.5rem;
    left: 6rem;
    top: 45%;
  }
}

.about--heading {
  padding-top: 2.3rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-style: "Avenir-Bold";
  font-weight: bold;
  @include mobileXS {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  @include mobileS {
    font-size: 2.25rem; //check
    line-height: 2.25rem;
  }
  @include mobile {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
  @include tabletS {
    padding-top: 4.3rem;
    padding-bottom: 1.5rem;
    padding-left: 3.5rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
  @include tablet {
    padding-top: 5.3rem;
    padding-bottom: 2.5rem;
    padding-left: 3.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
  @include desktop {
    padding-top: 5.3rem;
    padding-bottom: 2.5rem;
    padding-left: 6rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
  @include desktopL {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 6rem;
    font-size: 3.5rem;
    line-height: 3.25rem;
  }
}

.about--img {
  background-image: url(../assets/Images/band.jpg);
  height: 15rem; //460dimension
  width: 100vw;
  // width: 26rem; //460dimension
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  @include mobileXS {
    height: 10rem;
    width: 90vw;
  }
  @include mobileS {
    height: 15rem;
    width: 90vw;
  }
  @include mobile {
    height: 25rem;
    width: 95vw;
  }
  @include tabletS {
    height: 20.5rem;
    width: 70vw;
  }
  @include tablet {
    height: 29.5rem;
    width: 78vw;
  }
  @include desktop {
    height: 29.5rem;
    width: 72vw;
  }
  @include desktopL {
    height: 43rem;
    width: 75vw;
  }
}
.about--caption {
  font-style: "Avenir-Bold";
  font-size: 1.313rem;
  line-height: 1.813rem;
  font-weight: bold;
  // width: 99rem;
  @include mobileXS {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    // border: 1px solid red;
  }
  @include mobileS {
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.2rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  @include mobile {
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    // border: 1px solid red;
  }
  @include tabletS {
    width: 100vw;
    padding-left: 6.8rem;
    padding-right: 6.5rem;
    padding-top: 2.5rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  @include tablet {
    width: 100vw;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    line-height: 3rem;
  }
  @include desktop {
    width: 100vw;
    padding-left: 11rem;
    padding-right: 11rem;
    padding-top: 2.5rem;
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  @include desktopL {
    width: 67vw;
    text-align: left;
    padding-left: 15rem; //768
    padding-top: 3.5rem;
    font-size: 2.2rem;
    line-height: 2.9rem;
  }
}
.about--caption-ref {
  padding-top: 0.5rem;
  font-size: 1.43rem;
  line-height: 1.813rem;
  height: auto; //just added
  @include mobileXS {
    padding-top: 0rem;
    font-size: 0.9rem;
  }
  @include mobileS {
    font-size: 1rem;
  }
  @include mobile {
    font-size: 1.06rem;
  }
  @include tabletS {
    font-size: 1rem;
  }
  @include tablet {
    font-size: 1.27rem;
  }
  @include desktop {
    font-size: 1.27rem;
    line-height: 1.813rem;
  }
  @include desktopL {
    padding-top: 1.7rem;
    line-height: 1.813rem;
  }
}
.article--heading {
  padding: 5rem 20rem 3rem 20rem;
  font-size: 2.3rem;
  @include mobileXS {
    padding: 2rem 0rem 1rem 1rem;
    font-size: 0.9rem;
  }
  @include mobileS {
    padding: 2rem 0rem 1rem 2rem;
    font-size: 1.3rem;
  }
  @include mobile {
    padding-left: 2rem;
    font-size: 1.3rem;
  }
  @include tabletS {
    padding-left: 7rem;
    font-size: 1.3rem;
  }
  @include tablet {
    padding-left: 8rem;
    font-size: 1.8rem;
  }
  @include desktop {
    padding-left: 11rem;
  }
  @include desktopL {
    padding-left: 14rem;
  }
}

.article-description {
  font-size: 1.281rem;
  line-height: 1.875rem;
  font-style: "Avenir-Regular";
  // border: 1px solid red;
  @include mobileXS {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  @include mobileS {
    // height: 55rem;
    font-size: 1.2rem;
    // border: 1px solid red;
  }
  @include mobile {
    // @include article-layout;
    padding: 0rem 1.5rem;
    // height: 32rem;
    font-size: 1.2rem;
    border: 1px solid green;
  }
  @include tabletS {
    @include article-layout;
    font-size: 1.1rem;
    padding: 0rem 7rem;
  }
  @include tablet {
    @include article-layout;
    padding: 0rem 8rem;
    font-size: 1.4rem;
  }
  @include desktop {
    @include article-layout;
    padding: 0rem 11rem;
  }
  @include desktopL {
    @include article-layout;
    padding: 0rem 14rem;
  }
}
.article-description--left {
  margin-right: 1rem;
  overflow: hidden;
  height: auto;
  @include mobileXS {
    margin-right: auto;
    padding: 0rem 1rem;
  }
  @include mobileS {
    margin-right: 0rem;
    padding: 0rem 2rem;
  }
  @include mobile {
    margin-right: 0rem;
    padding: 0rem 2rem;
  }
}
.article-description--right {
  margin-left: 1rem;
  overflow: hidden;
  height: auto;
  @include mobileXS {
    padding: 0rem 1rem;
    padding-top: 1.5rem;
    margin-left: 0rem;
  }
  @include mobileS {
    padding: 0rem 2rem;
    padding-top: 2rem;
    margin-left: 0rem;
  }
  @include mobile {
    padding: 0rem 2rem;
    padding-top: 2rem;
    margin-left: 0rem;
  }
}
//This is the container of gallery section
.gallery {
  margin-top: 3rem; //desktopL
  background: $secondary-three;
  @include mobileXS {
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
  @include mobileS {
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
  @include mobileS {
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
  @include tabletS {
    padding: 0rem 1rem;
  }
  @include tablet {
    padding: 0rem 1rem;
  }
  @include desktop {
    padding: 0rem 1rem;
  }
  @include desktopL {
    padding: 0rem 1rem;
  }
}
.gallery-heading {
  padding-top: 2.3rem;
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-style: "Avenir-Bold";
  font-weight: bold;
  border: 1px solid red;
  @include mobileXS {
    padding-top: 1.5rem;
    padding-left: 0.2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  @include mobileS {
    padding-left: 1.5rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  @include mobile {
    padding-left: 1.5rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  @include tabletS {
    padding-top: 3rem; //desktopL
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  @include tablet {
    padding-top: 3rem; //desktopL
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    font-size: 3.25rem; //2.5rem;
    line-height: 3.25rem; //2.5rem;
  }
  @include desktop {
    padding-top: 2.3rem;
    padding-bottom: 0.5rem;
    padding-left: 3.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
  @include desktopL {
    padding-top: 5rem; //desktopL
    padding-bottom: 2.5rem;
    padding-left: 6rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
.gallery-img {
  // No layout needed for mobiles
  @include tabletS {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
    // justify-content: space-evenly;
  }
  @include desktopL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
    // justify-content: space-evenly;
  }
}
// MIXINS for Individual pphoto according to its media query:
//This is individual layout of photo in mobileXS
@mixin mobileXS-photo {
  margin: 1.5rem 0rem;
  margin-top: 0rem;
  height: 10rem;
  width: 100vw;
}
//This is individual layout of photo in mobileS
@mixin mobileS-photo {
  margin: 1.5rem;
  margin-top: 0rem;
  height: 15.5rem;
  width: 100vw;
}
//This is individual layout of photo in mobile
@mixin mobile-photo {
  margin: 1.5rem;
  margin-top: 0rem;
  height: 25rem;
  width: 100vw;
  border: 1px solid red;
}
//This is individual layout of photo in tabletS
@mixin tabletS-photo {
  margin: 1rem 0.3rem;
  width: 28vw;
  height: 7.5rem;
}
//This is individual layout of photo in tablet
@mixin tablet-photo {
  margin: 1rem 0.4rem;
  width: 28vw;
  height: 11.5rem;
  // border: 1px solid red;
}
//This is individual layout of photo in desktop
@mixin desktop-photo {
  margin: 1rem 1rem;
  width: 28vw;
  height: 14rem;
}
//This is individual layout of photo in desktopL
@mixin desktopL-photo {
  margin: 1rem 1rem;
  width: 26vw;
  height: 12.5rem;
}

.gallery-img--1 {
  background-image: url(../assets/Images/Photo-gallery-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobileXS {
    @include mobileXS-photo();
  }
  @include mobileS {
    @include mobileS-photo();
  }
  @include mobile {
    @include mobile-photo();
  }
  @include tabletS {
    @include tabletS-photo();
  }
  @include tablet {
    @include tablet-photo();
  }
  @include desktop {
    @include desktop-photo();
  }
  @include desktopL {
    @include desktopL-photo();
  }
}
.gallery-img--2 {
  background-image: url(../assets/Images/Photo-gallery-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobileXS {
    @include mobileXS-photo();
  }
  @include mobileS {
    @include mobileS-photo();
  }
  @include mobile {
    @include mobile-photo();
  }
  @include tabletS {
    @include tabletS-photo();
  }
  @include tablet {
    @include tablet-photo();
  }
  @include desktop {
    @include desktop-photo();
  }
  @include desktopL {
    @include desktopL-photo();
  }
}
.gallery-img--3 {
  background-image: url(../assets/Images/Photo-gallery-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobileXS {
    @include mobileXS-photo();
  }
  @include mobileS {
    @include mobileS-photo();
  }
  @include mobile {
    @include mobile-photo();
  }
  @include tabletS {
    @include tabletS-photo();
  }
  @include tablet {
    @include tablet-photo();
  }
  @include desktop {
    @include desktop-photo();
  }
  @include desktopL {
    @include desktopL-photo();
  }
}
.gallery-img--4 {
  background-image: url(../assets/Images/Photo-gallery-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobileXS {
    @include mobileXS-photo();
  }
  @include mobileS {
    @include mobileS-photo();
  }
  @include mobile {
    @include mobile-photo();
  }
  @include tabletS {
    @include tabletS-photo();
  }
  @include tablet {
    @include tablet-photo();
  }
  @include desktop {
    @include desktop-photo();
  }
  @include desktopL {
    @include desktopL-photo();
  }
}
.gallery-img--5 {
  background-image: url(../assets/Images/Photo-gallery-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobileXS {
    @include mobileXS-photo();
  }
  @include mobileS {
    @include mobileS-photo();
  }
  @include mobile {
    @include mobile-photo();
  }
  @include tabletS {
    @include tabletS-photo();
  }
  @include tablet {
    @include tablet-photo();
  }
  @include desktop {
    @include desktop-photo();
  }
  @include desktopL {
    @include desktopL-photo();
  }
}
.gallery-img--6 {
  background-image: url(../assets/Images/Photo-gallery-6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobileXS {
    @include mobileXS-photo();
  }
  @include mobileS {
    @include mobileS-photo();
  }
  @include mobile {
    @include mobile-photo();
  }
  @include tabletS {
    @include tabletS-photo();
  }
  @include tablet {
    @include tablet-photo();
  }
  @include desktop {
    @include desktop-photo();
  }
  @include desktopL {
    @include desktopL-photo();
  }
}
.gallery-img--7 {
  background-image: url(../assets/Images/Photo-gallery-7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobileXS {
    @include mobileXS-photo();
  }
  @include mobileS {
    @include mobileS-photo();
  }
  @include mobile {
    @include mobile-photo();
  }
  @include tabletS {
    @include tabletS-photo();
  }
  @include tablet {
    @include tablet-photo();
  }
  @include desktop {
    @include desktop-photo();
  }
  @include desktopL {
    @include desktopL-photo();
  }
}
.gallery-img--8 {
  background-image: url(../assets/Images/Photo-gallery-8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobileXS {
    @include mobileXS-photo();
  }
  @include mobileS {
    @include mobileS-photo();
  }
  @include mobile {
    @include mobile-photo();
  }
  @include tabletS {
    @include tabletS-photo();
  }
  @include tablet {
    @include tablet-photo();
  }
  @include desktop {
    @include desktop-photo();
  }
  @include desktopL {
    @include desktopL-photo();
  }
}
.gallery-img--9 {
  background-image: url(../assets/Images/Photo-gallery-9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mobileXS {
    @include mobileXS-photo();
  }
  @include mobileS {
    @include mobileS-photo();
  }
  @include mobile {
    @include mobile-photo();
  }
  @include tabletS {
    @include tabletS-photo();
  }
  @include tablet {
    @include tablet-photo();
  }
  @include desktop {
    @include desktop-photo();
  }
  @include desktopL {
    @include desktopL-photo();
  }
}
// FOOTER SECTION
.footer {
  background-color: $primary-one;
  color: $primary-three;
  height: 50rem;
  width: 100vw;
  padding: 3rem 4rem;
  padding-bottom: 2rem;
  border: 1px solid blue;
  @include mobileXS {
    padding: 2rem 1rem;
    padding-bottom: 1rem;
    height: 46.5rem;
  }
  @include mobileS {
    padding: 2rem 2rem;
    padding-bottom: 1rem;
    height: 41.1rem;
  }
  @include mobile {
    padding: 2rem 1.5rem;
    padding-bottom: 1rem;
    height: 42rem;
  }
  @include tabletS {
    padding: 2rem 2rem;
    padding-bottom: 1rem;
    height: 25rem;
    position: relative;
  }
  @include tablet {
    padding: 3rem 3rem;
    padding-bottom: 1rem;
    height: 27rem;
    position: relative;
  }
  @include desktop {
    padding: 3rem 4rem;
    height: 27rem;
    position: relative;
  }
  @include desktopL {
    padding: 4rem 6rem;
    padding-bottom: 2rem;
    height: 28rem;
    position: relative;
  }
}
.footer--group1 {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  @include mobileXS {
    display: block;
    width: 14rem;
  }
  @include mobileS {
    display: block;
    width: 15rem;
  }
  @include mobile {
    display: block;
    width: 15rem;
  }
  @include tabletS {
    width: 23rem;
  }
  @include tablet {
    width: 35rem;
  }
  @include desktop {
    width: 33rem;
  }
  @include desktopL {
    width: 31rem;
  }
}

.footer--heading {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 1000;
  width: 14rem;
  margin: 0.8rem 0rem;
  @include mobileXS {
    margin-top: 0.3rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  @include tabletS {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  @include tablet {
    font-size: 3.25rem;
    line-height: 3.25rem;
    width: 22rem;
  }
  @include desktop {
    font-size: 2.9rem;
    line-height: 2.9rem;
    width: 17rem;
  }
  @include desktopL {
    font-size: 2.8rem;
    line-height: 2.8rem;
    width: 17rem;
  }
}
.footer--socmed {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  margin: 0.8rem 0rem;
  align-items: center;
  @include mobileXS {
    margin-top: 0.3rem;
    margin-bottom: 0rem;
    width: 8rem;
  }
  @include tabletS {
    width: 8rem;
  }
  @include tablet {
    width: 12rem;
  }
  @include desktop {
    width: 12rem;
  }
  @include desktopL {
    width: 11rem;
  }
}
.soc-med--instagram {
  background-image: url(../assets/Icons/SVG/Icon-instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2.1rem;
  width: 2.1rem;
  @include mobileXS {
    height: 1.7rem;
    width: 1.7rem;
  }
  @include tabletS {
    height: 1.7rem;
    width: 1.7rem;
  }
}
.soc-med--facebook {
  background-image: url(../assets/Icons/SVG/Icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2.1rem;
  width: 1rem;
  @include mobileXS {
    height: 1.7rem;
    width: 0.7rem;
  }
  @include tabletS {
    height: 1.7rem;
    width: 0.7rem;
  }
}
.soc-med--twitter {
  background-image: url(../assets/Icons/SVG/Icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2rem;
  width: 2.5rem;
  @include mobileXS {
    height: 1.7rem;
    width: 2rem;
  }
  @include tabletS {
    height: 1.7rem;
    width: 2rem;
  }
}
//This is the layout for contact in landscape format
.footer--group2 {
  @include tabletS {
    display: flex;
  }
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }
  @include desktopL {
    display: flex;
  }
}
.contact {
  font-size: 0.9rem;
  line-height: 1.3rem;
  width: 20rem;
  @include mobileXS {
    font-size: 0.9rem;
    width: 20rem;
    margin: 1rem 0rem;
  }
  @include tabletS {
    font-size: 0.9rem;
    width: 100vw;
  }
  @include tablet {
    font-size: 1rem;
    width: 100vw;
  }
  @include desktop {
    font-size: 1rem;
    width: 21rem;
  }
  @include desktopL {
    font-size: 1rem;
    width: 20rem;
  }
}
.contact__name {
  font-weight: bold;
  margin: 0.5rem 0rem;
  @include mobileXS {
    margin: 0.7rem 0rem;
  }
  @include tabletS {
    margin: 2rem 0rem;
  }
  @include tablet {
    margin: 2rem 0rem;
  }
  @include desktop {
    margin: 2rem 0rem;
  }
  @include desktopL {
    margin: 2rem 0rem;
  }
}
.contact__location {
  margin: 0.5rem 0rem;
  @include mobileXS {
    margin: 0.9rem 0rem;
  }
  @include tabletS {
    margin: 2rem 0rem;
  }
  @include tablet {
    margin: 2rem 0rem;
  }
  @include desktop {
    margin: 2rem 0rem;
  }
  @include desktopL {
    margin: 2rem 0rem;
  }
}
.contact__email {
  margin: 0.5rem 0rem;
  @include mobileXS {
    margin: 0.9rem 0rem;
  }
  @include tabletS {
    margin: 2rem 0rem;
  }
  @include tablet {
    margin: 2rem 0rem;
  }
  @include desktop {
    margin: 2rem 0rem;
  }
  @include desktopL {
    margin: 2rem 0rem;
  }
}
.footer-logo {
  margin: 0.8rem 0rem;
  margin-top: 2rem;
  width: 12rem;
  @include mobileXS {
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
    margin-top: 2rem;
  }
  @include mobileS {
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
    margin-top: 2rem;
  }
  @include mobile {
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
    margin-top: 2rem;
  }
  @include tabletS {
    font-size: 1.8rem;
    position: absolute;
    top: 17px;
    left: 594px;
  }
  @include tablet {
    font-size: 2.2rem;
    position: absolute;
    top: 45px;
    left: 1043px;
  }
  @include desktop {
    font-size: 2.2rem;
    position: absolute;
    top: 36px;
    left: 1036px;
  }
  @include desktopL {
    font-size: 2.2rem;
    position: absolute;
    top: 51px;
    left: 1015px;
    border: 1px solid orange;
  }
}
.footer-copyright {
  margin: 0.5rem 0rem;
  @include mobileXS {
    font-size: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
  }
  @include mobileS {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
  }
  @include tabletS {
    font-size: 0.9rem;
    margin-top: 0.9rem;
    margin-bottom: 0rem;
  }
  @include tablet {
    font-size: 0.9rem;
    margin-top: 0.9rem;
    margin-bottom: 0rem;
  }
  @include desktop {
    font-size: 0.9rem;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
  }
  @include desktopL {
    font-size: 0.9rem;
    margin-top: 1.4rem;
    margin-bottom: 0rem;
  }
}
