@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./partials/mixins" as *;
// NAVIGATION SECTION
.nav {
  background-color: $primary-one;
  padding-top: 1rem;
  // border: 1px solid yellow;
  @include mobile {
    padding-top: 1.5rem;
  }
  @include tablet {
    @include navigation-large-screen-style;
    // display: inline-flex;
    // width: 100vw;
    // vertical-align: auto;
    // padding-bottom: 1rem;
  }
  @include desktop {
    @include navigation-large-screen-style;
    // display: inline-flex;
    // width: 100vw;
    // vertical-align: auto;
    // padding-bottom: 1rem;
  }
}
//Navigation's BandSite LOGO and link
.nav__header {
  text-align: left;
  font-size: 36px;
  line-height: 68px;
  font-style: "Avenir 700";
  font-weight: normal; /*bold 700*/
  padding-left: 1rem;
  padding-right: 1rem;
  // border: 1px solid yellow;
  @include mobile {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    width: default;
    // border: 1px solid yellow;
    // background-color: orange;
  }
  @include tablet {
    padding-left: 3.5rem;
    padding-right: 2rem;
    width: fit-content;
    border: 1px solid yellow;
  }
  @include desktop {
    width: 26%;
    padding-left: 12rem;
    padding-right: 4rem;
    width: fit-content;
    border: 1px solid orange;
  }
}
.nav__header__link {
  text-decoration: none;
  color: $secondary-two;
}

// Navigation's MENU
.nav__menu {
  text-align: center;
  @include tablet {
    @include navigation-large-screen-menu-style;
  }
  @include desktop {
    @include navigation-large-screen-menu-style;
  }
}
.nav__menu__list__item {
  //   border: 1px solid yellow;
  display: inline-flex;

  @include mobile {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 21px;
    line-height: 23px;
    font-weight: 500; /*600*/
  }
  @include tablet {
    width: fit-content;
    padding: 0rem 3rem; //
    font-size: 21px;
    line-height: 32px;
    font-weight: 500; /*600*/
  }

  @include desktop {
    width: fit-content;
    padding: 0rem 3rem; //
    font-size: 21px;
    line-height: 32px;
    font-weight: 500; /*600*/
  }
}
//Menu list's style:
.nav__menu__list__item__link-style {
  text-decoration: none; /*remove underline inside link*/
  color: $secondary-two;
  padding-bottom: 2rem; //1.33rem; //2rem
  // border: 1px solid red;
  // padding-bottom: 2rem; //
  @include mobile {
    padding-bottom: 0.5rem;
  }
}

.nav__menu__list__item--active-page {
  font-weight: bold;
  @include mobile {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
  }
  @include tablet {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 4px underline $primary-three;
    text-underline-offset: 2.4rem; //2.4rem
    // border: 1px solid red;
  }
  @include desktop {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 4px underline $primary-three;
    text-underline-offset: 2.4rem;
  }
}
.nav__menu__list__item:hover {
  text-decoration: 4px underline $primary-three;
  text-underline-offset: 43px;
  @include mobile {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
    text-decoration: none;
    text-underline-offset: unset;
  }
  @include tablet {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 4px underline $primary-three;
    text-underline-offset: 2.4rem;
  }
  @include desktop {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 4px underline $primary-three;
    text-underline-offset: 2.4rem;
  }
}
// HERO SECTION

.hero-img {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 100vh; //??
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  position: relative;
  // border: 1px solid yellow;
  @include mobile {
    // background-size: contain; //must have h;to be removed later
    // height: 32rem; //to fit 320, must have h:13rem;to be removed later
  }
  @include tablet {
    // height: 50rem;
    // padding: 5rem;
    // background-size: cover;
  }
}

.hero-img--overlay {
  background-color: $primary-one;
  opacity: 70%;
}
.hero-img__description {
  // border: 1px solid yellow;
  margin: auto;
  width: 100vw;
  color: $primary-three;
  font-size: 60px;
  line-height: 68px;
  font-style: "Avenir 700";
  display: flex;
  position: absolute;
  top: 50%;
  left: 2rem;
  @include mobile {
    border: 1px solid orange;
    font-size: 60px;
    line-height: 60px;
    top: 42%;
    font-style: "Avenir 700";
    font-weight: bold;
  }
  @include tablet {
  }
}
