* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir-Regular";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf), url(../../assets/Font/Alternative-files/AvenirNextLTPro.ttf) format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Demi";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf), url(../../assets/Font/Alternative-files/AvenirNextLTProDemi.ttf) format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Bold";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf), url(../../assets/Font/Alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 700;
}
body {
  font-family: "Avenir-Regular";
}

.nav {
  background-color: #323232;
  padding-top: 1rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav {
    padding-top: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav {
    padding-top: 1.5rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav {
    padding-top: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}
@media (min-width: 1300px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}

.nav__header {
  text-align: left;
  font-size: 2.25rem;
  line-height: 4.25rem;
  font-style: "Avenir-Bold";
  font-weight: normal; /*bold 700*/
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__header {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.25rem;
    width: default;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__header {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.25rem;
    width: default;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__header {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2rem;
    width: default;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__header {
    padding-left: 3rem;
    padding-right: 2rem;
    width: fit-content;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__header {
    padding-left: 3.5rem;
    padding-right: 2rem;
    width: fit-content;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__header {
    width: 26%;
    padding-left: 6rem;
    padding-right: 4rem;
    width: fit-content;
  }
}
@media (min-width: 1300px) {
  .nav__header {
    width: 26%;
    padding-left: 6rem;
    padding-right: 4rem;
    width: fit-content;
  }
}

.nav__header__link {
  text-decoration: none;
  color: #e1e1e1;
}

.nav__menu {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}

.nav__menu__list__item {
  display: inline-flex;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__menu__list__item {
    width: fit-content;
    padding: 0rem 1.5rem;
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__menu__list__item {
    width: fit-content;
    padding: 0rem 3rem;
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__menu__list__item {
    width: fit-content;
    padding: 0rem 3rem;
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item {
    width: fit-content;
    padding: 0rem 3rem;
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
}

.nav__menu__list__item__link-style {
  text-decoration: none; /*remove underline inside link*/
  color: #e1e1e1;
  padding-bottom: 2rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}

.nav__menu__list__item--active-page {
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}

.nav__menu__list__item:hover {
  text-decoration: 0.25rem underline #ffffff;
  text-underline-offset: 2.688rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    text-underline-offset: unset;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .nav__menu__list__item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    text-underline-offset: unset;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    text-underline-offset: unset;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}

.hero-img {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 321px) {
  .hero-img {
    height: 10rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .hero-img {
    height: 20rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .hero-img {
    height: 21.375rem;
    margin: auto;
    padding: 16rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .hero-img {
    height: 30rem;
    width: 100vw;
  }
}

.hero-img--overlay {
  background-color: #323232;
  opacity: 95%;
}

.hero-img__heading {
  margin: auto;
  width: 100vw;
  color: #ffffff;
  font-size: 5.375rem;
  line-height: 5.375rem;
  font-style: "Avenir-Bold";
  font-weight: bold;
  display: flex;
  position: absolute;
  top: 50%;
}
@media (min-width: 0px) and (max-width: 321px) {
  .hero-img__heading {
    border: 1px solid orange;
    font-size: 1.5rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 45%;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .hero-img__heading {
    border: 1px solid orange;
    font-size: 2.25rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 45%;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .hero-img__heading {
    border: 1px solid orange;
    font-size: 3.2rem;
    line-height: 3.2rem;
    left: 1.5rem;
    top: 48%;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .hero-img__heading {
    font-size: 4rem;
    left: 3.5rem;
    top: 44%;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .hero-img__heading {
    left: 3.5rem;
    top: 48%;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .hero-img__heading {
    font-size: 5.5rem;
    line-height: 5.5rem;
    left: 6rem;
    top: 45%;
  }
}
@media (min-width: 1300px) {
  .hero-img__heading {
    font-size: 5.5rem;
    line-height: 5.5rem;
    left: 6rem;
    top: 45%;
  }
}

.about--heading {
  padding-top: 2.3rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-style: "Avenir-Bold";
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--heading {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .about--heading {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--heading {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .about--heading {
    padding-top: 4.3rem;
    padding-bottom: 1.5rem;
    padding-left: 3.5rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .about--heading {
    padding-top: 5.3rem;
    padding-bottom: 2.5rem;
    padding-left: 3.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .about--heading {
    padding-top: 5.3rem;
    padding-bottom: 2.5rem;
    padding-left: 6rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1300px) {
  .about--heading {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 6rem;
    font-size: 3.5rem;
    line-height: 3.25rem;
  }
}

.about--img {
  background-image: url(../assets/Images/band.jpg);
  height: 15rem;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--img {
    height: 10rem;
    width: 90vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .about--img {
    height: 15rem;
    width: 90vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--img {
    height: 25rem;
    width: 95vw;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .about--img {
    height: 20.5rem;
    width: 70vw;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .about--img {
    height: 29.5rem;
    width: 78vw;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .about--img {
    height: 29.5rem;
    width: 72vw;
  }
}
@media (min-width: 1300px) {
  .about--img {
    height: 43rem;
    width: 75vw;
  }
}

.about--caption {
  font-style: "Avenir-Bold";
  font-size: 1.313rem;
  line-height: 1.813rem;
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--caption {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .about--caption {
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.2rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--caption {
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.2rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .about--caption {
    width: 100vw;
    padding-left: 6.8rem;
    padding-right: 6.5rem;
    padding-top: 2.5rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .about--caption {
    width: 100vw;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .about--caption {
    width: 100vw;
    padding-left: 11rem;
    padding-right: 11rem;
    padding-top: 2.5rem;
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 1300px) {
  .about--caption {
    width: 67vw;
    text-align: left;
    padding-left: 15rem;
    padding-top: 3.5rem;
    font-size: 2.2rem;
    line-height: 2.9rem;
  }
}

.about--caption-ref {
  padding-top: 0.5rem;
  font-size: 1.43rem;
  line-height: 1.813rem;
  height: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--caption-ref {
    padding-top: 0rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .about--caption-ref {
    font-size: 1rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--caption-ref {
    font-size: 1.06rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .about--caption-ref {
    font-size: 1rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .about--caption-ref {
    font-size: 1.27rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .about--caption-ref {
    font-size: 1.27rem;
    line-height: 1.813rem;
  }
}
@media (min-width: 1300px) {
  .about--caption-ref {
    padding-top: 1.7rem;
    line-height: 1.813rem;
  }
}

.article--heading {
  padding: 5rem 20rem 3rem 20rem;
  font-size: 2.3rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article--heading {
    padding: 2rem 0rem 1rem 1rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .article--heading {
    padding: 2rem 0rem 1rem 2rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article--heading {
    padding-left: 2rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .article--heading {
    padding-left: 7rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .article--heading {
    padding-left: 8rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .article--heading {
    padding-left: 11rem;
  }
}
@media (min-width: 1300px) {
  .article--heading {
    padding-left: 14rem;
  }
}

.article-description {
  font-size: 1.281rem;
  line-height: 1.875rem;
  font-style: "Avenir-Regular";
}
@media (min-width: 0px) and (max-width: 321px) {
  .article-description {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .article-description {
    font-size: 1.2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article-description {
    padding: 0rem 1.5rem;
    font-size: 1.2rem;
    border: 1px solid green;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .article-description {
    display: flex;
    flex: 1;
    font-size: 1.1rem;
    padding: 0rem 7rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .article-description {
    display: flex;
    flex: 1;
    padding: 0rem 8rem;
    font-size: 1.4rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .article-description {
    display: flex;
    flex: 1;
    padding: 0rem 11rem;
  }
}
@media (min-width: 1300px) {
  .article-description {
    display: flex;
    flex: 1;
    padding: 0rem 14rem;
  }
}

.article-description--left {
  margin-right: 1rem;
  overflow: hidden;
  height: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article-description--left {
    margin-right: auto;
    padding: 0rem 1rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .article-description--left {
    margin-right: 0rem;
    padding: 0rem 2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article-description--left {
    margin-right: 0rem;
    padding: 0rem 2rem;
  }
}

.article-description--right {
  margin-left: 1rem;
  overflow: hidden;
  height: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article-description--right {
    padding: 0rem 1rem;
    padding-top: 1.5rem;
    margin-left: 0rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .article-description--right {
    padding: 0rem 2rem;
    padding-top: 2rem;
    margin-left: 0rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article-description--right {
    padding: 0rem 2rem;
    padding-top: 2rem;
    margin-left: 0rem;
  }
}

.gallery {
  margin-top: 3rem;
  background: #fafafa;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery {
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery {
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery {
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery {
    padding: 0rem 1rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery {
    padding: 0rem 1rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery {
    padding: 0rem 1rem;
  }
}
@media (min-width: 1300px) {
  .gallery {
    padding: 0rem 1rem;
  }
}

.gallery-heading {
  padding-top: 2.3rem;
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-style: "Avenir-Bold";
  font-weight: bold;
  border: 1px solid red;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-heading {
    padding-top: 1.5rem;
    padding-left: 0.2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-heading {
    padding-left: 1.5rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-heading {
    padding-left: 1.5rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-heading {
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-heading {
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-heading {
    padding-top: 2.3rem;
    padding-bottom: 0.5rem;
    padding-left: 3.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1300px) {
  .gallery-heading {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    padding-left: 6rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
  }
}
@media (min-width: 1300px) {
  .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
  }
}

.gallery-img--1 {
  background-image: url(../assets/Images/Photo-gallery-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--1 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--1 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--1 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
    border: 1px solid red;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--1 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--1 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--1 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--1 {
    margin: 1rem 1rem;
    width: 26vw;
    height: 12.5rem;
  }
}

.gallery-img--2 {
  background-image: url(../assets/Images/Photo-gallery-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--2 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--2 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--2 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
    border: 1px solid red;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--2 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--2 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--2 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--2 {
    margin: 1rem 1rem;
    width: 26vw;
    height: 12.5rem;
  }
}

.gallery-img--3 {
  background-image: url(../assets/Images/Photo-gallery-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--3 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--3 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--3 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
    border: 1px solid red;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--3 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--3 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--3 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--3 {
    margin: 1rem 1rem;
    width: 26vw;
    height: 12.5rem;
  }
}

.gallery-img--4 {
  background-image: url(../assets/Images/Photo-gallery-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--4 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--4 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--4 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
    border: 1px solid red;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--4 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--4 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--4 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--4 {
    margin: 1rem 1rem;
    width: 26vw;
    height: 12.5rem;
  }
}

.gallery-img--5 {
  background-image: url(../assets/Images/Photo-gallery-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--5 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--5 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--5 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
    border: 1px solid red;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--5 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--5 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--5 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--5 {
    margin: 1rem 1rem;
    width: 26vw;
    height: 12.5rem;
  }
}

.gallery-img--6 {
  background-image: url(../assets/Images/Photo-gallery-6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--6 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--6 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--6 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
    border: 1px solid red;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--6 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--6 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--6 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--6 {
    margin: 1rem 1rem;
    width: 26vw;
    height: 12.5rem;
  }
}

.gallery-img--7 {
  background-image: url(../assets/Images/Photo-gallery-7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--7 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--7 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--7 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
    border: 1px solid red;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--7 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--7 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--7 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--7 {
    margin: 1rem 1rem;
    width: 26vw;
    height: 12.5rem;
  }
}

.gallery-img--8 {
  background-image: url(../assets/Images/Photo-gallery-8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--8 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--8 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--8 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
    border: 1px solid red;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--8 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--8 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--8 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--8 {
    margin: 1rem 1rem;
    width: 26vw;
    height: 12.5rem;
  }
}

.gallery-img--9 {
  background-image: url(../assets/Images/Photo-gallery-9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--9 {
    margin: 1.5rem 0rem;
    margin-top: 0rem;
    height: 10rem;
    width: 100vw;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .gallery-img--9 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 15.5rem;
    width: 100vw;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .gallery-img--9 {
    margin: 1.5rem;
    margin-top: 0rem;
    height: 25rem;
    width: 100vw;
    border: 1px solid red;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .gallery-img--9 {
    margin: 1rem 0.3rem;
    width: 28vw;
    height: 7.5rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .gallery-img--9 {
    margin: 1rem 0.4rem;
    width: 28vw;
    height: 11.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .gallery-img--9 {
    margin: 1rem 1rem;
    width: 28vw;
    height: 14rem;
  }
}
@media (min-width: 1300px) {
  .gallery-img--9 {
    margin: 1rem 1rem;
    width: 26vw;
    height: 12.5rem;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  height: 50rem;
  width: 100vw;
  padding: 3rem 4rem;
  padding-bottom: 2rem;
  border: 1px solid blue;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer {
    padding: 2rem 1rem;
    padding-bottom: 1rem;
    height: 46.5rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .footer {
    padding: 2rem 2rem;
    padding-bottom: 1rem;
    height: 41.1rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .footer {
    padding: 2rem 1.5rem;
    padding-bottom: 1rem;
    height: 42rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer {
    padding: 2rem 2rem;
    padding-bottom: 1rem;
    height: 25rem;
    position: relative;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer {
    padding: 3rem 3rem;
    padding-bottom: 1rem;
    height: 27rem;
    position: relative;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer {
    padding: 3rem 4rem;
    height: 27rem;
    position: relative;
  }
}
@media (min-width: 1300px) {
  .footer {
    padding: 4rem 6rem;
    padding-bottom: 2rem;
    height: 28rem;
    position: relative;
  }
}

.footer--group1 {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer--group1 {
    display: block;
    width: 14rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .footer--group1 {
    display: block;
    width: 15rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .footer--group1 {
    display: block;
    width: 15rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer--group1 {
    width: 23rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer--group1 {
    width: 35rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer--group1 {
    width: 33rem;
  }
}
@media (min-width: 1300px) {
  .footer--group1 {
    width: 31rem;
  }
}

.footer--heading {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 1000;
  width: 14rem;
  margin: 0.8rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer--heading {
    margin-top: 0.3rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer--heading {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer--heading {
    font-size: 3.25rem;
    line-height: 3.25rem;
    width: 22rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer--heading {
    font-size: 2.9rem;
    line-height: 2.9rem;
    width: 17rem;
  }
}
@media (min-width: 1300px) {
  .footer--heading {
    font-size: 2.8rem;
    line-height: 2.8rem;
    width: 17rem;
  }
}

.footer--socmed {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  margin: 0.8rem 0rem;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer--socmed {
    margin-top: 0.3rem;
    margin-bottom: 0rem;
    width: 8rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer--socmed {
    width: 8rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer--socmed {
    width: 12rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer--socmed {
    width: 12rem;
  }
}
@media (min-width: 1300px) {
  .footer--socmed {
    width: 11rem;
  }
}

.soc-med--instagram {
  background-image: url(../assets/Icons/SVG/Icon-instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2.1rem;
  width: 2.1rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .soc-med--instagram {
    height: 1.7rem;
    width: 1.7rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .soc-med--instagram {
    height: 1.7rem;
    width: 1.7rem;
  }
}

.soc-med--facebook {
  background-image: url(../assets/Icons/SVG/Icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2.1rem;
  width: 1rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .soc-med--facebook {
    height: 1.7rem;
    width: 0.7rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .soc-med--facebook {
    height: 1.7rem;
    width: 0.7rem;
  }
}

.soc-med--twitter {
  background-image: url(../assets/Icons/SVG/Icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2rem;
  width: 2.5rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .soc-med--twitter {
    height: 1.7rem;
    width: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .soc-med--twitter {
    height: 1.7rem;
    width: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1113px) {
  .footer--group2 {
    display: flex;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer--group2 {
    display: flex;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer--group2 {
    display: flex;
  }
}
@media (min-width: 1300px) {
  .footer--group2 {
    display: flex;
  }
}

.contact {
  font-size: 0.9rem;
  line-height: 1.3rem;
  width: 20rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .contact {
    font-size: 0.9rem;
    width: 20rem;
    margin: 1rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .contact {
    font-size: 0.9rem;
    width: 100vw;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .contact {
    font-size: 1rem;
    width: 100vw;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .contact {
    font-size: 1rem;
    width: 21rem;
  }
}
@media (min-width: 1300px) {
  .contact {
    font-size: 1rem;
    width: 20rem;
  }
}

.contact__name {
  font-weight: bold;
  margin: 0.5rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .contact__name {
    margin: 0.7rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .contact__name {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .contact__name {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .contact__name {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1300px) {
  .contact__name {
    margin: 2rem 0rem;
  }
}

.contact__location {
  margin: 0.5rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .contact__location {
    margin: 0.9rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .contact__location {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .contact__location {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .contact__location {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1300px) {
  .contact__location {
    margin: 2rem 0rem;
  }
}

.contact__email {
  margin: 0.5rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .contact__email {
    margin: 0.9rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .contact__email {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .contact__email {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .contact__email {
    margin: 2rem 0rem;
  }
}
@media (min-width: 1300px) {
  .contact__email {
    margin: 2rem 0rem;
  }
}

.footer-logo {
  margin: 0.8rem 0rem;
  margin-top: 2rem;
  width: 12rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer-logo {
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
    margin-top: 2rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .footer-logo {
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
    margin-top: 2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .footer-logo {
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer-logo {
    font-size: 1.8rem;
    position: absolute;
    top: 17px;
    left: 594px;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer-logo {
    font-size: 2.2rem;
    position: absolute;
    top: 45px;
    left: 1043px;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer-logo {
    font-size: 2.2rem;
    position: absolute;
    top: 36px;
    left: 1036px;
  }
}
@media (min-width: 1300px) {
  .footer-logo {
    font-size: 2.2rem;
    position: absolute;
    top: 51px;
    left: 1015px;
    border: 1px solid orange;
  }
}

.footer-copyright {
  margin: 0.5rem 0rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .footer-copyright {
    font-size: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 321px) and (max-width: 461px) {
  .footer-copyright {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1113px) {
  .footer-copyright {
    font-size: 0.9rem;
    margin-top: 0.9rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 1114px) and (max-width: 1279px) {
  .footer-copyright {
    font-size: 0.9rem;
    margin-top: 0.9rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 1280px) and (max-width: 1299px) {
  .footer-copyright {
    font-size: 0.9rem;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 1300px) {
  .footer-copyright {
    font-size: 0.9rem;
    margin-top: 1.4rem;
    margin-bottom: 0rem;
  }
}/*# sourceMappingURL=main.css.map */