@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./partials/mixins" as *;
// NAVIGATION SECTION
.nav {
  background-color: $primary-one;
  padding-top: 1rem;
  // border: 1px solid yellow;

  @include mobile {
    padding-top: 1.5rem;
  }
  @include tablet {
    @include navigation-large-screen-style;
    // display: inline-flex;
    // width: 100vw;
    // vertical-align: auto;
    // padding-bottom: 1rem;
  }
  @include desktop {
    @include navigation-large-screen-style;
    // display: inline-flex;
    // width: 100vw;
    // vertical-align: auto;
    // padding-bottom: 1rem;
  }
}
//Navigation's BandSite LOGO and link
.nav__header {
  text-align: left;
  font-size: 36px;
  line-height: 68px;
  font-style: "Avenir 700";
  font-weight: normal; /*bold 700*/
  padding-left: 1rem;
  padding-right: 1rem;
  // border: 1px solid yellow;
  @include mobileS {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    width: default;
  }
  @include mobile {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    width: default;

    // border: 1px solid yellow;
    // background-color: orange;
  }
  @include tablet {
    padding-left: 3.5rem;
    padding-right: 2rem;
    width: fit-content;
    border: 1px solid yellow;
  }
  @include desktop {
    width: 26%;
    padding-left: 12rem;
    padding-right: 4rem;
    width: fit-content;
    border: 1px solid orange;
  }
}
.nav__header__link {
  text-decoration: none;
  color: $secondary-two;
}

// Navigation's MENU
.nav__menu {
  text-align: center;
  @include tablet {
    @include navigation-large-screen-menu-style;
  }
  @include desktop {
    @include navigation-large-screen-menu-style;
  }
}
.nav__menu__list__item {
  //   border: 1px solid yellow;
  display: inline-flex;
  @include mobileS {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 21px;
    line-height: 23px;
    font-weight: 500; /*600*/
  }
  @include mobile {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 21px;
    line-height: 23px;
    font-weight: 500; /*600*/
  }
  @include tablet {
    width: fit-content;
    padding: 0rem 3rem; //
    font-size: 21px;
    line-height: 32px;
    font-weight: 500; /*600*/
  }

  @include desktop {
    width: fit-content;
    padding: 0rem 3rem; //
    font-size: 21px;
    line-height: 32px;
    font-weight: 500; /*600*/
  }
}
//Menu list's style:
.nav__menu__list__item__link-style {
  text-decoration: none; /*remove underline inside link*/
  color: $secondary-two;
  padding-bottom: 2rem; //1.33rem; //2rem
  // border: 1px solid red;
  // padding-bottom: 2rem; //
  @include mobileS {
    padding-bottom: 0.5rem;
  }
  @include mobile {
    padding-bottom: 0.5rem;
  }
}

.nav__menu__list__item--active-page {
  font-weight: bold;
  @include mobileS {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
  }
  @include mobile {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
  }
  @include tablet {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 4px underline $primary-three;
    text-underline-offset: 2.4rem; //2.4rem
    // border: 1px solid red;
  }
  @include desktop {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 4px underline $primary-three;
    text-underline-offset: 2.4rem;
  }
}
.nav__menu__list__item:hover {
  text-decoration: 4px underline $primary-three;
  text-underline-offset: 43px;
  @include mobileS {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
    text-decoration: none;
    text-underline-offset: unset;
  }
  @include mobile {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary-three;
    text-decoration: none;
    text-underline-offset: unset;
  }
  @include tablet {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 4px underline $primary-three;
    text-underline-offset: 2.4rem;
  }
  @include desktop {
    // @include navigation-large-screen-active-hover-page-style;
    text-decoration: 4px underline $primary-three;
    text-underline-offset: 2.4rem;
  }
}
// HERO SECTION

.hero-img {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 100vh; //??
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  position: relative;
  // border: 1px solid yellow;
  @include mobileS {
    // background-size: contain; //must have h;to be removed later
    height: 20rem;
    width: 30rem;
    margin: auto;
  }
  @include mobile {
    // background-size: contain; //must have h;to be removed later
    height: 21.375rem; //310px; //to fit 32, must have h:13rem;to be removed later
    width: 48.25rem;
    margin: auto;
    padding: 16rem;
  }
  @include tablet {
    // height: 50rem;
    // padding: 5rem;
    // background-size: cover;
  }
}
.hero-img--overlay {
  background-color: $primary-one;
  opacity: 75%;
}
.hero-img__description {
  // border: 1px solid yellow;
  margin: auto;
  width: 100vw;
  color: $primary-three;
  font-size: 86px;
  line-height: 86px;
  font-style: "Avenir 700";
  font-weight: bold;
  display: flex;
  position: absolute;
  top: 50%;
  @include mobileS {
    border: 1px solid orange;
    font-size: 2.25rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 45%;
  }
  @include mobile {
    border: 1px solid orange;
    font-size: 2.25rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 48%;
  }
  @include tablet {
    left: 3.5rem;
    top: 48%;
  }
  @include desktop {
    font-size: 88px;
    line-height: 88px;
    left: 12.5rem;
    top: 45%;
  }
}

.about-header {
  padding-top: 2.3rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-style: "Avenir 700";
  font-weight: 900;
  @include mobile {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
  @include tablet {
    padding-top: 5.3rem;
    padding-bottom: 2.5rem;
    padding-left: 3.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
  @include desktop {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 12rem;
    font-size: 3.5rem;
    line-height: 3.25rem;
  }
}
.about-img {
  background-image: url(../assets/Images/band.jpg);
  height: 15rem; //460dimension
  width: 26rem; //460dimension
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  @include mobile {
    height: 29rem;
    width: 34rem;
  }
  @include tablet {
    height: 29.5rem;
    width: 63rem;
  }
  @include desktop {
    //undone;needs a little adjustment for Hxw
    height: 40rem;
    width: 78rem;
  }
}
