* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir 400";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf), url(../../assets/Font/Alternative-files/AvenirNextLTPro.ttf) format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir 600";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf), url(../../assets/Font/Alternative-files/AvenirNextLTProDemi.ttf) format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir 700";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf), url(../../assets/Font/Alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 700;
}
body {
  font-family: "Avenir 700";
  font-family: "Avenir 600";
  font-family: "Avenir 400";
}

.nav {
  background-color: #323232;
  padding-top: 1rem;
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav {
    padding-top: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}
@media (min-width: 1300px) {
  .nav {
    display: inline-flex;
    width: 100vw;
    vertical-align: auto;
    padding-top: 2rem;
  }
}

.nav__header {
  text-align: left;
  font-size: 2.25rem;
  line-height: 4.25rem;
  font-style: "Avenir 700";
  font-weight: normal; /*bold 700*/
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__header {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.25rem;
    width: default;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .nav__header {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.25rem;
    width: default;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__header {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2rem;
    width: default;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .nav__header {
    padding-left: 3.5rem;
    padding-right: 2rem;
    width: fit-content;
    border: 1px solid yellow;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .nav__header {
    width: 26%;
    padding-left: 12rem;
    padding-right: 4rem;
    width: fit-content;
    border: 1px solid orange;
  }
}
@media (min-width: 1300px) {
  .nav__header {
    width: 26%;
    padding-left: 12rem;
    padding-right: 4rem;
    width: fit-content;
    border: 1px solid orange;
  }
}

.nav__header__link {
  text-decoration: none;
  color: #e1e1e1;
}

.nav__menu {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu {
    width: fit-content;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}

.nav__menu__list__item {
  display: inline-flex;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item {
    padding-top: 1rem;
    width: 49%;
    justify-content: center;
    font-size: 1.313rem;
    line-height: 1.438rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .nav__menu__list__item {
    width: fit-content;
    padding: 0rem 3rem;
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .nav__menu__list__item {
    width: fit-content;
    padding: 0rem 3rem;
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item {
    width: fit-content;
    padding: 0rem 3rem;
    font-size: 1.313rem;
    line-height: 2rem;
    font-weight: 500; /*600*/
  }
}

.nav__menu__list__item__link-style {
  text-decoration: none; /*remove underline inside link*/
  color: #e1e1e1;
  padding-bottom: 2rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item__link-style {
    padding-bottom: 0.5rem;
  }
}

.nav__menu__list__item--active-page {
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item--active-page {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item--active-page {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}

.nav__menu__list__item:hover {
  text-decoration: 0.25rem underline #ffffff;
  text-underline-offset: 2.688rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .nav__menu__list__item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    text-underline-offset: unset;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .nav__menu__list__item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    text-underline-offset: unset;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .nav__menu__list__item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    text-underline-offset: unset;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}
@media (min-width: 1300px) {
  .nav__menu__list__item:hover {
    text-decoration: 0.25rem underline #ffffff;
    text-underline-offset: 2.4rem;
  }
}

.hero-img {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  position: relative;
}
@media (min-width: 0px) and (max-width: 321px) {
  .hero-img {
    height: 10rem;
    width: 20rem;
    margin: auto;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .hero-img {
    height: 20rem;
    width: 30rem;
    margin: auto;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .hero-img {
    height: 21.375rem;
    width: 48.25rem;
    margin: auto;
    padding: 16rem;
  }
}
.hero-img--overlay {
  background-color: #323232;
  opacity: 75%;
}

.hero-img__heading {
  margin: auto;
  width: 100vw;
  color: #ffffff;
  font-size: 5.375rem;
  line-height: 5.375rem;
  font-style: "Avenir 700";
  font-weight: bold;
  display: flex;
  position: absolute;
  top: 50%;
}
@media (min-width: 0px) and (max-width: 321px) {
  .hero-img__heading {
    border: 1px solid orange;
    font-size: 1.5rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 45%;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .hero-img__heading {
    border: 1px solid orange;
    font-size: 2.25rem;
    line-height: 2.25rem;
    left: 1.5rem;
    top: 45%;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .hero-img__heading {
    border: 1px solid orange;
    font-size: 3.2rem;
    line-height: 3.2rem;
    left: 1.5rem;
    top: 48%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .hero-img__heading {
    left: 3.5rem;
    top: 48%;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .hero-img__heading {
    font-size: 5.5rem;
    line-height: 5.5rem;
    left: 12.5rem;
    top: 45%;
  }
}
@media (min-width: 1300px) {
  .hero-img__heading {
    font-size: 5.5rem;
    line-height: 5.5rem;
    left: 12.5rem;
    top: 45%;
  }
}

.about--heading {
  padding-top: 2.3rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-style: "Avenir 700";
  font-weight: 900;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--heading {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .about--heading {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--heading {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .about--heading {
    padding-top: 5.3rem;
    padding-bottom: 2.5rem;
    padding-left: 3.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .about--heading {
    padding-top: 5.3rem;
    padding-bottom: 2.5rem;
    padding-left: 3.5rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1300px) {
  .about--heading {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 12rem;
    font-size: 3.5rem;
    line-height: 3.25rem;
  }
}

.about--img {
  background-image: url(../assets/Images/band.jpg);
  height: 15rem;
  width: 26rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--img {
    height: 10rem;
    width: 30rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .about--img {
    height: 15rem;
    width: 35rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--img {
    height: 25rem;
    width: 45rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .about--img {
    height: 29.5rem;
    width: 63rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .about--img {
    height: 29.5rem;
    width: 63rem;
  }
}
@media (min-width: 1300px) {
  .about--img {
    height: 43rem;
    width: 78rem;
  }
}

.about--caption {
  font-style: "Avenir 700";
  font-size: 1.313rem;
  line-height: 1.813rem;
  font-weight: bold;
  width: 99rem;
  margin-right: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--caption {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .about--caption {
    padding-left: 2rem;
    padding-right: 72rem;
    padding-top: 2.2rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--caption {
    padding-left: 2rem;
    padding-right: 53rem;
    padding-top: 2.2rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .about--caption {
    padding-left: 8rem;
    padding-right: 38rem;
    padding-top: 2.5rem;
    font-size: 1.8rem;
    line-height: 2.9rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .about--caption {
    padding-left: 8rem;
    padding-right: 38rem;
    padding-top: 2.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
@media (min-width: 1300px) {
  .about--caption {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    line-height: 3rem;
  }
}

.about--caption-ref {
  padding-top: 0.5rem;
  font-size: 1.43rem;
  line-height: 1.813rem;
  height: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .about--caption-ref {
    font-size: 0.8rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .about--caption-ref {
    font-size: 1rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .about--caption-ref {
    font-size: 1.06rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .about--caption-ref {
    font-size: 1.27rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .about--caption-ref {
    font-size: 1.27rem;
    line-height: 1.813rem;
  }
}

.article--heading {
  padding: 5rem 20rem 3rem 20rem;
  font-size: 2.3rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article--heading {
    padding: 2rem 0rem 1rem 1rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .article--heading {
    padding: 2rem 0rem 1rem 2rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article--heading {
    padding-left: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .article--heading {
    padding-left: 8rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .article--heading {
    padding-left: 8rem;
  }
}
.article-description {
  font-size: 1.281rem;
  line-height: 1.875rem;
  font-style: "Avenir 400";
  height: 17rem;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article-description {
    height: 60rem;
    font-size: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .article-description {
    height: 55rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  .article-description {
    display: flex;
    padding: 0rem 20rem;
    flex: 1;
    padding: 0rem 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .article-description {
    display: flex;
    padding: 0rem 20rem;
    flex: 1;
    padding: 0rem 8rem;
  }
}
@media (min-width: 1280px) and (max-width: 1300px) {
  .article-description {
    display: flex;
    padding: 0rem 20rem;
    flex: 1;
    padding: 0rem 8rem;
  }
}
@media (min-width: 1300px) {
  .article-description {
    display: flex;
    padding: 0rem 20rem;
    flex: 1;
    padding: 0rem 20rem;
  }
}

.article-description--left {
  margin-right: 1rem;
  overflow: hidden;
  height: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article-description--left {
    margin-right: auto;
    padding: 0rem 1rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .article-description--left {
    margin-right: 0rem;
    padding: 0rem 2rem;
  }
}
.article-description--right {
  margin-left: 1rem;
  overflow: hidden;
  height: auto;
}
@media (min-width: 0px) and (max-width: 321px) {
  .article-description--right {
    padding: 0rem 1rem;
    padding-top: 1.5rem;
    margin-left: 0rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .article-description--right {
    padding: 0rem 2rem;
    padding-top: 2rem;
    margin-left: 0rem;
  }
}
.gallery {
  margin-top: 3rem;
  background: #fafafa;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery {
    padding: 0rem 1rem;
    margin-top: 1rem;
    border: 1px dashed red;
  }
}

.gallery-heading {
  padding-top: 2.3rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-style: "Avenir 700";
  font-weight: 900;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-heading {
    padding-bottom: 1rem;
    padding-left: 0.2rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 1300px) {
  .gallery-heading {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 12rem;
    font-size: 3.5rem;
    line-height: 3.25rem;
  }
}

.gallery-img--1 {
  background-image: url(../assets/Images/Photo-gallery-1.jpg);
  width: 30rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 321px) {
  .gallery-img--1 {
    height: 10rem;
    width: 30rem;
  }
}
@media (min-width: 321px) and (max-width: 460px) {
  .gallery-img--1 {
    margin: 1rem 1.5rem;
    border: 1px solid red;
  }
}

.gallery-img--2 {
  background-image: url(../assets/Images/Photo-gallery-2.jpg);
  width: 30rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 321px) and (max-width: 460px) {
  .gallery-img--2 {
    margin: 1rem 1.5rem;
    border: 1px solid red;
  }
}

.gallery-img--3 {
  background-image: url(../assets/Images/Photo-gallery-3.jpg);
  width: 30rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 321px) and (max-width: 460px) {
  .gallery-img--3 {
    margin: 1rem 1.5rem;
    border: 1px solid red;
  }
}

.gallery-img--4 {
  background-image: url(../assets/Images/Photo-gallery-4.jpg);
  width: 30rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 321px) and (max-width: 460px) {
  .gallery-img--4 {
    margin: 1rem 1.5rem;
    border: 1px solid red;
  }
}

.gallery-img--5 {
  background-image: url(../assets/Images/Photo-gallery-5.jpg);
  width: 30rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 321px) and (max-width: 460px) {
  .gallery-img--5 {
    margin: 1rem 1.5rem;
    border: 1px solid red;
  }
}

.gallery-img--6 {
  background-image: url(../assets/Images/Photo-gallery-6.jpg);
  width: 30rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 321px) and (max-width: 460px) {
  .gallery-img--6 {
    margin: 1rem 1.5rem;
    border: 1px solid red;
  }
}

.gallery-img--7 {
  background-image: url(../assets/Images/Photo-gallery-7.jpg);
  width: 30rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 321px) and (max-width: 460px) {
  .gallery-img--7 {
    margin: 1rem 1.5rem;
    border: 1px solid red;
  }
}

.gallery-img--8 {
  background-image: url(../assets/Images/Photo-gallery-8.jpg);
  width: 30rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 321px) and (max-width: 460px) {
  .gallery-img--8 {
    margin: 1rem 1.5rem;
    border: 1px solid red;
  }
}

.gallery-img--9 {
  background-image: url(../assets/Images/Photo-gallery-9.jpg);
  width: 30rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 321px) and (max-width: 460px) {
  .gallery-img--9 {
    margin: 1rem 1.5rem;
    border: 1px solid red;
  }
}/*# sourceMappingURL=main.css.map */